.blogListContainer {
    max-width: 900px;
    margin: 0 auto;
    padding: 48px 2vw;
}
#blog_card {
    display: flex;
    align-items: center;
    padding: 15px 32px 10px 32px;
}
#blog_card .blogInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#blog_card .blogInfo h3 {
    margin: 0 auto 0 0 ;
    color: rgb(0, 0, 0);
    font-size: 22px;
}
#blog_card .blogInfo #text {
    height: fit-content;
    max-height: 82px;
    margin: 10px auto 20px 0;
    overflow: hidden;
}
#blog_card .blogInfo #text p {
    font-size: 18px;
    color: rgb(120, 117, 122);
}
#blog_card .blogInfo .authorImage{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto 15px 0;
}
#blog_card .blogInfo .authorImage img{
    max-width: 35px;
    height: 35px;
    border-radius: 30px;
    object-fit: cover;
} 
#blog_card .blogInfo .authorImage p{
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 0 0 0 15px;
}
#blog_card .blogInfo .authorImage .blogAuthor {
    font-weight: 900;
}
#blog_card .blogInfo .authorImage .blogDate {
    color: #808080cf;
    margin: 0 0 0 0;
}
#blog_card .blogInfo .authorImage .blogDate span {
    margin: 0 5px;
}
#blog_card .blogInfo #dev_type {
    display: flex;
    align-items: center;
    margin: 0 auto 0 0;
}
#blog_card .blogInfo #dev_type button {
    border: none;
    outline: none;
    font-size: 13px;
    padding: 5px 13px;
    border-radius: 9px;
}
#blog_card .blogInfo #dev_type p {
    margin: 0 0 0 22px;
}
#blog_card #preview_img {
    width: 200px;
    height: 193px;
    border-radius: 14px;
    margin: 0 0 0 31px;
    object-fit: cover;
}

@media (max-width: 770px) {
    #blog_card .blogInfo p {
        line-height: inherit;
    }
    #blog_card #preview_img {
        display: none;
    }
    #blog_card .blogInfo .authorImage img{
        max-width: 20px;
        height: 20px;
    } 
    #blog_card .blogInfo .authorImage p{
        font-size: 12px;
    }
}
@media (max-width: 410px) {
    #blog_card .blogInfo .authorImage p{
        font-size: 10px;
        margin: 0 0 0 10px;
    }
    #blog_card .blogInfo .authorImage .blogDate{
        margin: 0 0 0 15px;
    }
}